body{
background-color:black;
}
.title{
color:white;
}
.subtitle{
color:white;
}
#subheadind{
color:white;
}
.para{
color:white;
}
.lol{
color:white;
}
#so{
color:white;
}
.hi{
color:white;
}
#what{
color:white;
}
.sun{
  color:white;
}
.oh{
  color:white;
}
