body{
background-color:black;
  margin:0;
  text-align: centre;
}
.title{
color:white;
}
.subtitle{
color:white;
}
#subheadind{
color:white;
}
.para{
color:white;
}
.lol{
color:white;
}
#so{
color:white;
}
.hi{
color:white;
}
#what{
color:white;
}
.sun{
  color:white;
}
.oh{
  color:white;
}
#mercury{
  color:white;
}
#mer{
 color:white; 
}
.venus{
  color:white;
}
.nus{
  color:white;
}
